/* !CODE CUA MIN MIN */
/* *BEGIN CONTENT-SECTION-ONE */
/* ?WRAPPER-CONTENT-ONE */
#content-section-one
.wrapper-content-one
.content-text-header{
    font-size: 40px;
    line-height: 48px;
    letter-spacing: 0;
    font-weight: 500;
    color: var(--text-color);
    margin-bottom: 20px;
}
#content-section-one
.wrapper-content-one
.content-text-paragraph{
    font-size: 20px;
    line-height: 32px;
    color: var(--text-color);
    font-weight: 200;
}
.wrapper-content-one{
    position: relative;
    top: 0;
    left: 23px;
}
/* ?WRAPPER-CONTENT-TWO  */
#content-section-one
.wrapper-content-two
.content-text-img{
    position: relative;
    top: 0;
    right: 23px;
    width: 525px;
    height: 448px;
}
/**CONTENT-SECTION-ONE*/
#content-section-one{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 100px;
}
/* !CODE CUA MIN MIN */
/* !: SOURCE CODE PBEMITS */
/* *: CONTENT SECTION FOUR */
#content-main
#content-section-four {
    margin-top: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#content-section-four
.content-wrapper-element-one {
    margin-right: 27px;
}
#content-section-four
.content-wrapper-element-two {
    margin-left: 151px;
    position: relative;
    left: -27px;
}
/* ?: CONTENT WRAPPER ELEMENT ONE */
/* &: WRAPPER ELEMENT IMAGE */
#content-section-four
.content-wrapper-element-one
.wrapper-element-image 
.wrapper-element-img {
    width: 525px;
    height: 472px;
}
/* ?: CONTENT WRAPPER ELEMENT TWO */
/* &: WRAPPER ELEMENT HEADING */
#content-section-four
.content-wrapper-element-two
.wrapper-element-texts
.wrapper-element-heading {
    font-size: 40px;
    line-height: 48px;
    letter-spacing: 0;
    font-weight: 500;
    color: var(--text-color);
    margin-bottom: 20px;
}
/* &: WRAPPER ELEMENT PARAGRAH */
#content-section-four
.content-wrapper-element-two
.wrapper-element-texts
.wrapper-element-paragrah {
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 0;
    font-weight: 50;
    color: var(--text-color);
}
#content-section-four
.content-wrapper-element-two
.wrapper-element-texts
.wrapper-element-paragrah a {
color: var(--text-color);
}
/* !: SOURCE CODE PBEMITS */
