/* !CODE CUA MIN MIN */
/* *BEGIN CONTENT-SECTION-ONE */
/* ?WRAPPER-CONTENT-ONE */
#content-section-one
.wrapper-content-one
.content-text-header{
    font-size: 40px;
    line-height: 48px;
    letter-spacing: 0;
    font-weight: 500;
    color: var(--text-color);
    margin-bottom: 20px;
}
#content-section-one
.wrapper-content-one
.content-text-paragraph{
    font-size: 20px;
    line-height: 32px;
    color: var(--text-color);
    font-weight: 200;
}
.wrapper-content-one{
    position: relative;
    top: 0;
    left: 23px;
}
/* ?WRAPPER-CONTENT-TWO  */
#content-section-one
.wrapper-content-two
.content-text-img{
    position: relative;
    top: 0;
    right: 23px;
    width: 525px;
    height: 448px;
}
/**CONTENT-SECTION-ONE*/
#content-section-one{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 100px;
}
/* !CODE CUA MIN MIN */
/* !: XUAN */
.content-section-two {
    display: flex;
    margin: 100px 151px 0px 151px;
    padding: 0px 60px;
}

.content-section-two .section-img {
    margin-right: 80px;
}

.content-section-two .section-img-suggested {
    width: 100%;
    text-align: center;
}

.content-section-two .section-img-suggested img {
    width: 100%; 
}

.content-section-two .section-text {
    padding: 120px 0px 0px 60px;
   
}

.content-section-two .section-text .section-text-one h1{
    font-weight: 500;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: 0;
    margin-bottom: 20px;
}

.content-section-two .section-text .section-text-two p {
    font-size: 20px;
    line-height: 32px;
    font-weight: 500;
    letter-spacing: 0;
}
/* !: XUAN */