.content-section-two {
    display: flex;
    margin: 100px 151px 0px 151px;
}

.content-section-two .section-img-suggested {
    width: 100%;
    text-align: center;
    padding-top: 50px;
}

.content-section-two .section-img-suggested img {
    width: 70%; 
}





