.content-section-two {
    display: flex;
    align-items: center;
}

.content-section-two .section-img-suggested {
    width: 100%;
}

.content-section-two .section-img-suggested img {
    width: 50%;
    
}





