.content-section-two {
    display: flex;
}

.content-section-two .section-img-suggested {
    width: 100%;
    text-align: center;
}

.content-section-two .section-img-suggested img {
    width: 60%;
    line-height: 56;
    
}





